extends layout

block content
  .container
    .rows
      .row
        .title
          h1 Insurance Application Form
  ul.progress
  form(method='POST' action='/applied')
    .container
      .rows
        .row
          .title
            h2 Insurance
        .row
          .col
            div.form-group
              .form-label
                label(for='insurance') Product:
              .form
                select#insurance.form-select(type='text', name='insurance')
                  option(value='0') -- Select Product --
                  option(value='1') Health Insurance
    .container.variant
      .rows
        .row
          .title
            h2 Contact Information
        .row
          .col
            div.form-group
              .form-label
                label(for='zipcode') Zip Code:
              .form
                input#zipcode.form-input(type='text', placeholder='Zip Code' name='zipCode')
            div.form-group
              .form-label
                label(for='housenumber') House Number:
              .form
                input#housenumber.form-input(type='text', placeholder='House Number' name='houseNumber')
            div.form-group
              .form-label
                label(for='streetname') Street Name:
              .form
                input#streetname.form-input(type='text', placeholder='Street Name' name='streetName')
            div.form-group
              .form-label
                label(for='city') City:
              .form
                input#city.form-input(type='text', placeholder='City' name='city')
            div.form-group
              .form-label
                label(for='telephonenumber') Telephone Number:
              .form
                input#telephonenumber.form-input(type='text', placeholder='Telephone Number' name='telephoneNumber')
            div.form-group
              .form-label
                label(for='email') Email:
              .form
                input#email.form-input(type='text', placeholder='Email' name='email')
    .container
      .rows
        .row
          .title
            h2 Personal Data
        .row
          .col
            div.form-group
              .form-label
                label(for='dateofbirth') Date of Birth:
              .form
                input#dateofbirth.form-input(type='text', placeholder='dd-MM-yyyy' name='dateOfBirth')
            div.form-group
              .form-label
                label(for='surname') Surname:
              .form
                input#surname.form-input(type='text', placeholder='Surname' name='surname')
            div.form-group
              .form-label
                label(for='initials') Initials:
              .form
                input#initials.form-input(type='text', placeholder='A B' name='initials')
            div.form-group
              .form-label
                label(for='nationality') Nationality:
              .form
                input#nationality.form-input(type='text', placeholder='Nationality' name='nationality')
            div.form-group
              .form-label
                label(for='bsn') BSN:
              .form
                input#bsn.form-input(type='text', placeholder='Dutch social security number' name='bsn')
    .container.variant
      .rows
        .row
          .title
            h2 Payment Detail
        .row
          .col
            div.form-group
              .form-label
                label(for='iban') IBAN:
              .form
                input#iban.form-input(type='text', placeholder='IBAN Number' name='iban')
    .container
      .rows
        .row
          .col
            div.form-button
              button.btn.btn-primary(type='submit') Verify Information
