<div class="container">
    <div>
        <p>{{invalidCustomer.zipcode}}</p>
    </div>
    <div>
      <label>ZipCode:</label>
      <input [(ngModel)]="zipcode" placeholder="1111 AA" />
    </div>
    <div>
        <p>{{invalidCustomer.housenumber}}</p>
    </div>
    <div>
      <label>House Number: </label>
      <input [(ngModel)]="housenumber" placeholder="house number" />
    </div>
    <div>
        <p>{{invalidCustomer.streetname}}</p>
    </div>
    <div>
      <label>Streetname: </label>
      <input [(ngModel)]="streetname" placeholder="street name" />
    </div>
    <div>
        <p>{{invalidCustomer.city}}</p>
    </div>
    <div>
      <label>City: </label>
      <input [(ngModel)]="city" placeholder="city" />
    </div>
    <div>
        <p>{{invalidCustomer.telephoneNumber}}</p>
    </div>
    <div>
      <label>Phone Number: </label>
      <input [(ngModel)]="phonenumber" placeholder="phone number" />
    </div>
    <div>
        <p>{{invalidCustomer.email}}</p>
    </div>
    <div>
        <label>Email: </label>
        <input [(ngModel)]="email" placeholder="email" />
      </div>
  </div>